/* font-family: 'Hind Siliguri', sans-serif;
font-family: 'Old Standard TT', serif;
font-family: 'Rubik', sans-serif; */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header  a:hover {
    color: #0D6EFD !important;
}
header {
    text-align: center;
    padding: 20px 0;
    padding-bottom: 50px;
  }

/* Body */  
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

/* Logo */
h2.logo {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

/* Redes sociales y Navbar */
.navbar li.nav-item a.nav-link {
    font-family: 'Old Standard TT', serif;
    color: #000000;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

  }


/* Cards */
.noticias {
    margin: 60px 20px;
    text-align: center;
    
}


/* Footer */
footer a{
    text-decoration: none;
    font-size: 17px;

}
footer p{

    font-size: 17px;
    
}
footer  a:hover {
    color: #0D6EFD !important;
}

i{
    font-size: 25px;
}

/*para darle estilo a los links de las noticias */
a.not-link {
    text-decoration: none;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: white;
}

/*para dar opacidad oscura a las imagenes de las noticias */
.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    filter: brightness(50%);
}

@media (max-width: 767px) {
    .carousel-item img {
        height: auto;
        filter: none;
    }
}
