/* font-family: 'Hind Siliguri', sans-serif;
font-family: 'Old Standard TT', serif;
font-family: 'Rubik', sans-serif; */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    text-align: center;
    padding: 20px 0;
    padding-bottom: 50px;
  }

/* Body */  
body {
    font-family: 'Rubik', s
    ans-serif;
}

h1 {
    text-align: center;
    justify-content: center;
    font-family: 'Hind Siliguri', sans-serif;
    color: #000000;

}

/* Logo */
h2.logo {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

/* Redes sociales y Navbar */
.navbar li.nav-item a.nav-link {
    font-family: 'Old Standard TT', serif;
    color: #000000;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

#carouselExampleCaptions {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

#carouselExampleCaptions h2 {
    font-size: 24px;
  }
  
  #carouselExampleCaptions p {
    font-size: 18px;
    line-height: 1.5;
  }

#carousel-caption h5, .carousel-caption p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
  

.c-item {
    height: 600px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}


/* Footer */
.copyright {
    font-family: 'Rubik', sans-serif;
}